// color scheme
$foreground = hsl(0, 0%, 20%);
$strong     = hsl(0, 0%, 10%);
$shade      = hsl(0, 0%, 50%);
$background = hsl(0, 0%, 99%);
$borders    = hsl(0, 0%, 75%);

$accent     = hsl(210, 100%, 50%);
$hover      = hsl(210, 100%, 70%);

$fontsize = 10pt;

// color classes
.foreground {color: $foreground}
.strong {color: $strong}
.shade {color: $shade}
.background {color: $background}
.borders {color: $borders}

.accent {color: $accent}
.hover {color: $hover}

// mixins
@mixin transition($prop) {
	transition: $prop;
	-webkit-transition: $prop;
	-moz-transition: $prop;
	-o-transition: $prop;
}
@mixin color-transition {
	@include transition(color 0.2s);
}

// extra fonts
// SourceCodePro
@font-face {
	font-family: SourceCodePro;
	src: url(/static/source-code-pro.ttf);
}

// Roboto
@font-face {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	src: url(/static/roboto.ttf);
}
@font-face {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	src: url(/static/roboto-bold.ttf);
}
@font-face {
	font-family: Roboto;
	font-style: italic;
	font-weight: normal;
	src: url(/static/roboto-italic.ttf);
}

