// oh my god single line comments
@import "soofw/scss/_include.scss";

html, body {
	font-family: Arial, sans-serif;
	font-size: $fontsize;
	padding: 0;
	margin: 0;
}
html {
	position: relative;
	background-color: $background;
	padding-bottom: 1%;
	min-height: 96%;
}

hr {
	margin: 0.3em 0;
	border: none;
	border-bottom: 1px solid $borders;
}

// each post is contained in a section
section {
	margin: 0;
	padding: 1em 1em 1px 1em; // stupid paragraph margins at the bottom of the section ruin the padding
	line-height: 1.5em;
	text-align: justify;

	// headers
	h1, h2, h3 {
		padding: 0;
		margin: 0;
		letter-spacing: 0.1em;
		color: $strong;
		.sub {
			font-size: $fontsize;
			letter-spacing: 0;
			font-weight: normal;
		}
	}
	strong, em {
		color: $strong;
	}
	h1 {
		font-size: 1.3em;
		padding: 0 0 0 0.23em;
		a {
			color: $accent;
			text-decoration: none;
			@include color-transition;
		}
		a:hover {
			color: $hover;
		}
		a:after {
			content: " »";
			font-size: 1.25em;
			line-height: 1.25em;
			text-decoration: none;
		}
	}
	h2 {
		font-size: 1.2em;
		margin: 1em 0 0 0;
		padding: 0 0 0 0.25em;
	}
	h3 {
		display: inline-block;
		font-size: 1.1em;
		margin: 1em 0 0 0;
		padding: 0 0 0 0.27em;
	}

	.tags {
		padding: 0 0 0 0.3em;
		color: $shade;
		font-size: 1em;
		text-transform: lowercase;
		display: block;
	}

	p {
		margin: 1em 0;
		padding: 0 0.3em;
	}

	iframe, img {
		margin: 1em auto;
		padding: 0.3em;
		display: block;
		max-width: 40em;
		background-color: darken($background, 5%);
		border: 1px solid $shade;
	}

	blockquote, pre {
		display: block;
		margin: 1em;
		border: 1px solid $borders;
		background-color: darken($background, 5%);
	}
	blockquote {
		// inside paragraphs make up the top and bottom margins
		// but if you have 0 vertical padding, they don't.
		// they only work if you have at least 1px.
		// using the standard 1em padding will double pad.
		padding: 1px 0;
	}
	blockquote .author {
		color: $shade;
	}
	blockquote .author:before {
		content: "~ ";
	}
	pre {
		padding: 1em 0 1em 0.5em;
		white-space: pre-wrap;
		white-space: -moz-pre-wrap;
		white-space: -pre-wrap;
		white-space: -o-pre-wrap;
		word-wrap: break-word;
		code {
			display: block;
			border: none;
		}
	}
	code {
		background-color: darken($background, 5%);
		display: inline-block;
		font-family: SourceCodePro;
		text-transform: none !important; // NEVER change code case
		border: 1px solid $borders;
		padding: 0 0.3em;
		margin: 1px 0;
	}

	a {
		color: $accent;
		text-decoration: none;
		@include color-transition;
		code {
			border-color: $borders;
		}
		&:hover {
			color: $hover;
		}
	}

	ul {
		list-style: url(/static/bullet.png);
		padding: 0 1em 0 2em;
	}

	table {
		width: 100%;
		margin: 1em 0;
		th {
			text-align: left;
			text-transform: uppercase;
		}
		td {
			padding: 0.3em;
		}
	}

	.content {
		margin: 1em 0;
		padding: 0;
	}

	.poem {
		border: none;
		text-align: center;
		font-family: Arial;
	}
}

// main body container
div#container {
	width: 50em;
	margin: 0 auto;
	color: $foreground;
}

div#content {
	margin: 5em 0 0 0;
	padding: 0;
	position: relative;
}

// header (site logo)
header {
	font-size: $fontsize;
	height: 2em;
	margin: 0;
	padding: 2em 0 1em 0;
	display: block;
	text-align: center;
	background-color: $background;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	z-index: 3;
}
.logo {
	font-weight: bold;
}

// navigation container
nav {
	text-align: center;
	display: inline-block;
}

// navigation ul
ul#nav {
	padding: 0;
	margin: 0;
	font-size: 1.2em;
	letter-spacing: 0.2em;
	font-weight: normal;
	text-transform: lowercase;
	position: relative;

	li {
		color: $strong;
		display: inline-block;
		list-style-type: none;
	}
	li + li:before {
		content: " / ";
		font-weight: normal;
		color: $borders;
	}

	.nav-thoughts:before, .nav-links:before {
		content: " // ";
	}
}

// the section that shows pagination?
section#pagination {
	text-align: center;
	font-size: 1.2em;
	line-height: 1em;
	padding: .67em;
	margin: 1.33em 0;
	a, span {
		margin: 0 0.2em;
		padding: 0 0.2em;
	}
}

// footer at the bottom of the page (copyright, profile links)
footer {
	display: block;
	text-transform: lowercase;
	text-align: center;
	color: $shade;
	border: none;
	background: none;
	padding: 1.5em 0 0 0;
}

.shaded-links {
	a {
		color: $shade;
		text-decoration: none;
		@include color-transition;
		&:hover {
			color: $accent;
		}
	}
}


// the raven!
div#raven {
	position: absolute;
	right: 0;
	bottom: 0;
	background-image: url(/static/raven.png);
	background-repeat: no-repeat;
	background-position: bottom-right;
	height: 78px;
	width: 96px;
	display: block;
}
