{% extends "main.html" %}
{% block content %}
	{% for article in articles %}
		{% include "section-single.html" %}
	{% endfor %}
	{% if pages > 1 %}
		<section id="pagination" class="shaded-links">
			{% for i in range(pages) %}
				{% if i == page %}
					<span>{{ i+1 }}</span>
				{% elif i == 0 %}
					<a href="{{ url_for('view_list', tag=tag, path=path) }}">1</a>
				{% else %}
					<a href="{{ url_for('view_list', tag=tag, page=i+1, path=path) }}">{{ i+1 }}</a>
				{% endif %}
			{% endfor %}
		</section>
	{% endif %}
{% endblock %}
