<section>
	<h1>
		{% block section_title -%}
			{% if 'link' in article -%}
				<a href="{{ article.link }}">{{ article.title }}</a>
			{%- else -%}
				{{ article.title }}
			{%- endif %}
		{%- endblock %}
	</h1>
	{% block section_meta -%}
		{% if 'tags' in article %}
		<span class="tags shaded-links"><a href="{{ url_for('view_single', path=article['path'], name=article['basename']) }}">{{ article|date }}</a> about
				{% for tag in article['tags'] %}
					{% if loop.last and loop.length > 1 %} and {% endif %}
					<a href="{{ url_for('view_list', path=article['path'], tag=tag) }}">{{ tag }}</a>
					{%- if not loop.last and loop.length > 2 %}, {% endif %}
				{% endfor %}
			</span>
		{% endif %}
	{%- endblock %}
	{% block section_content -%}
		{{ article['body']|markdown }}
	{%- endblock %}
</section>
